@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to the Bleakwind Buffet</h1>
    <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
    Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
    Hack into a Smokehouse Skeleton with your dagger.
    Or vanquish the the mighty Thalmor Triple Burger!
    You’ve had a hard adventure and earned your loot, so spend it with us!.</p>
</div>
<div class="menu">
    <p class="discount">Any entree, side, and drink can be made into a Combo with a $1 discount!</p>
    <h2>Entrees</h2>
    <div class="menu-item">
        <h3>Garden Orc Omelette</h3>
        <div class="calories">404</div>
        <div class="price">$4.57</div>
    </div>
    <div class="menu-item">
        <h3>Briarheart Burger</h3>
        <div class="calories">743</div>
        <div class="price">$6.32</div>
    </div>
    <div class="menu-item">
        <h3>Philly Poacher</h3>
        <div class="calories">784</div>
        <div class="price">$7.23</div>
    </div>
    <div class="menu-item">
        <h3>Double Draugr</h3>
        <div class="calories">843</div>
        <div class="price">$7.32</div>
    </div>
    <div class="menu-item">
        <h3>Smokehouse Skeleton</h3>
        <div class="calories">602</div>
        <div class="price">$5.62</div>
    </div>
    <div class="menu-item">
        <h3>Thug's T-Bone</h3>
        <div class="calories">982</div>
        <div class="price">$6.44</div>
    </div>
    <div class="menu-item">
        <h3>Thalmor Triple</h3>
        <div class="calories">943</div>
        <div class="price">$7.32</div>
    </div>
    <h2>Sides</h2>
    <div class="menu-item">
        <h3>Dragonborn Waffle Fries</h3>
        <div class="calories">
            <div class="small-cal">
                77
            </div>
            <div class="medium-cal">
                89
            </div>
            <div class="large-cal">
                100
            </div>
        </div>
        <div class="price">
            <div class="small-p">
                $0.42
            </div>
            <div class="medium-p">
                $0.76
            </div>
            <div class="large-p">
                $0.96
            </div>
        </div>
        <h3>Mad Otar Grits</h3>
        <div class="calories">
            <div class="small-cal">
                105
            </div>
            <div class="medium-cal">
                142
            </div>
            <div class="large-cal">
                179
            </div>
        </div>
        <div class="price">
            <div class="small-p">
                $1.22
            </div>
            <div class="medium-p">
                $1.58
            </div>
            <div class="large-p">
                $1.93
            </div>
        </div>
        <h3>Fried Miraak</h3>
        <div class="calories">
            <div class="small-cal">
                151
            </div>
            <div class="medium-cal">
                236
            </div>
            <div class="large-cal">
                306
            </div>
        </div>
        <div class="price">
            <div class="small-p">
                $1.78
            </div>
            <div class="medium-p">
                $2.01
            </div>
            <div class="large-p">
                $2.88
            </div>
        </div>
        <h3>Vokun Salad</h3>
        <div class="calories">
            <div class="small-cal">
                41
            </div>
            <div class="medium-cal">
                52
            </div>
            <div class="large-cal">
                73
            </div>
        </div>
        <div class="price">
            <div class="small-p">
                $0.93
            </div>
            <div class="medium-p">
                $1.28
            </div>
            <div class="large-p">
                $1.82
            </div>
        </div>
    </div>
    <h2>Drinks</h2>
    <h3>Aretino Apple Juice</h3>
    <div class="calories">
        <div class="small-cal">
            44
        </div>
        <div class="medium-cal">
            88
        </div>
        <div class="large-cal">
            132
        </div>
    </div>
    <div class="price">
        <div class="small-p">
            $0.62
        </div>
        <div class="medium-p">
            $0.87
        </div>
        <div class="large-p">
            $1.01
        </div>
    </div>
    <h3>Candlehearth Coffee</h3>
    <div class="calories">
        <div class="small-cal">
            7
        </div>
        <div class="medium-cal">
            10
        </div>
        <div class="large-cal">
            20
        </div>
    </div>
    <div class="price">
        <div class="small-p">
            $0.75
        </div>
        <div class="medium-p">
            $1.25
        </div>
        <div class="large-p">
            $1.75
        </div>
    </div>
    <h3>Markarth Milk</h3>
    <div class="calories">
        <div class="small-cal">
            56
        </div>
        <div class="medium-cal">
            72
        </div>
        <div class="large-cal">
            93
        </div>
    </div>
    <div class="price">
        <div class="small-p">
            $1.05
        </div>
        <div class="medium-p">
            $1.11
        </div>
        <div class="large-p">
            $1.22
        </div>
    </div>
    <h3>Sailor Soda</h3>
    <h4>Flavors</h4>
    <p>
        Blackberry, Cherry, Grapefruit, Lemon, Peach, Watermelon
    </p>
    <div class="calories">
        <div class="small-cal">
            117
        </div>
        <div class="medium-cal">
            153
        </div>
        <div class="large-cal">
            205
        </div>
    </div>
    <div class="price">
        <div class="small-p">
            $1.42
        </div>
        <div class="medium-p">
            $1.74
        </div>
        <div class="large-p">
            $2.07
        </div>
    </div>
    <h3>Warrior Water</h3>
    <div class="calories">
        <div class="small-cal">
            0
        </div>
        <div class="medium-cal">
            0
        </div>
        <div class="large-cal">
            0
        </div>
    </div>
    <div class="price">
        <div class="small-p">
            $0.00
        </div>
        <div class="medium-p">
            $0.00
        </div>
        <div class="large-p">
            $0.00
        </div>
    </div>
</div>
